.Home {
  padding: 120px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Home .images h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

@media only screen and (max-width: 480px) {
  .Home .images {
    padding: 60px 20px;
    text-align: left;
  }

  .Home .images-container {
    flex-wrap: nowrap;
    max-width: 100%;
  }
}